.container {
  font-family: Arial, sans-serif;
  overflow: hidden;
  font-size: 1.4rem;
  display: grid;
  grid-template-rows: calc(100vh - 15.3rem) auto; /* Adjust row sizing */
}

.chatHistory {
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.chatHistory .geminiMessage,
.chatHistory .userMessage {
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  width: fit-content;
}

.chatHistory .geminiMessage {
  background: var(--gray);
}

.chatHistory .userMessage {
  background: var(--primary);
  color: var(--white);
  align-self: flex-end;
}

.chatInput {
  padding: 10px;
  position: fixed;
  bottom: 6.1rem;
  width: 100%;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.chatInput .chatField {
  border: var(--border) 1px solid;
  width: 100%;
  padding: 0 0.8rem;
  border-radius: 10px;
}

.chatInput .sendBtn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 1.6rem;
  border-radius: 50%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
