.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .sectionTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-top: 1px solid #ececec;
    cursor: pointer;
  }
  
  .itemTitle {
    font-size: 1rem;
  }
  
  .itemArrow {
    font-size: 1.5rem;
  }
  